@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post" action="postfeedback">
    <table>
        <tr>
            <td><p>Имя </p></td>
            <td><input type="text" name="Person" /> </td>
        </tr>
        <tr>
            <td><p>Адрес :</p></td>
            <td><input type="text" name="Address" /> </td>
        </tr>
        <tr>
            <td><p>Отзыв :</p></td>
            <td><input type="text" name="Feedback" /> </td>
        </tr>
        <tr>
            <td><input type="submit" value="Отправить" /> </td>
            <td></td>
        </tr>
    </table>
</form>