@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewBag.Title = "New";
    Layout = "_Layout";
}

<h2>New</h2>

@if (SignInManager.IsSignedIn(User))
{
    <form method="post" action="neworder">
        <table>
            <tr>
                <td><p>Name</p></td>
                <td><input type="text" name="Person" /> </td>
            </tr>
            <tr>
                <td><p>Email</p></td>
                <td><input type="text" name="Address" /> </td>
            </tr>
            <tr>
                <td><p>Details</p></td>
                <td><input type="text" name="Details" /> </td>
            </tr>
            <tr>
                <td><input type="submit" value="Отправить" /> </td>
                <td></td>
            </tr>
        </table>
    </form>
}